node_modules/
dist/
dist-server/
*.log
*.lock
.DS_Store

.vite/
coverage
.vitest
.cache
temp
out
*.tsbuildinfo

.idea
.vscode
*.swp

ksef-exe-fa-*.pdf
ksef-exe-upo.pdf
ksef-exe-fa-*.html
ksef-exe-upo.html

KSeF-PDFGen
KSeF-PDFGen.exe
